<h1 class="home"><a href="https://thisweekinchia.com">This Week In Chia</a><span class="disclaimer">Community Site • No affiliation with Chia Network, Inc.</span></h1>
<a href="index.html">Home</a> • <a href="https://xchdev.com/#!contact.md" target="_blank">Contact</a> • <a href="ads.html">Ads</a>
<input type="button" value="Dark" id="lightdark" onclick="toggleMode()" style="width:50px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/chia.png"> Chia &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/globe.png"> Community &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/microphone.png"> News Item &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/nft.png"> NFT &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/youtube.png"> YouTube &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/play.png"> Video &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/calendar.png"> Event &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/spaces.png"> Twitter Space &nbsp;&nbsp;
<img width="15px" src="https://thisweekinchia.com/assets/icons/star.png"> New Version

<hr>