<div id="scheduled_events">
	<p><img width="15px" src="https://thisweekinchia.com/assets/icons/calendar.png"> <b>Upcoming Events</b></p>

<!--
	<p>🌱 <span class='time'>August 10, 2023 at 4 PM CDT/ 9 PM UTC</span><br>
		Evergreen AMA this Thursday to learn more about some feature they have shipped/are shipping. <a href='https://twitter.com/Evergreenminer/status/1688615867964399616?s=20' target='_blank'>Join the Space</a>
	</p>
	<p>🌱 <span class='time'>August 18, 2023 at 8 PM Eastern/ 12 AM UTC</span><br>
		Monthly Church of Chia #NFT Burning Ceremony.
	</p>
-->
<p>🌱 <span class="time">August 20, 2023 at 7 PM BST/ 6 PM UTC</span><br>
	Monkeyzoo Twitter Space - Royalties Guaranteed <a href="https://twitter.com/monkeyzoo/status/1690785389164797952?s=20" target="_blank">Join</a>
</p>

</div>